@model SAT.MVC.EF.StudentStatus

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="container">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.SSName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SSName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SSDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SSDescription)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-primary" })
        @Html.ActionLink("Edit", "Edit", new { id = Model.SSID }, new { @class = "btn btn-outline-warning" }) 
    </p>
</div>
