@model IEnumerable<SAT.MVC.EF.StudentStatus>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="container">
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-outline-success" })
    </p>
    <p>
        @Html.ActionLink("Tile View", "TiledIndex", "StudentStatus", new { @class="btn btn-outline-info"})
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SSName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSDescription)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SSName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SSDescription)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SSID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SSID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SSID })
                </td>
            </tr>
        }

    </table>
</div>
